@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

.card-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  /* Bold */
  font-size: 18px;  /* Reduced from 22px */
}

.price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  /* Medium */
  font-size: 16px;  /* Reduced from 20px */
  color: #A89D6E;
}


.container {
  width: 95%;
  /* Adjust to 80% if preferred */
  max-width: 1600px;
  /* Prevents it from being too wide on very large screens */
  margin: 0 auto;
  /* Centers the container */
  padding: 0;
}

.card {
  border: none;
  /* Removes card border */
  transition: transform 0.3s;
  cursor: pointer; /* Add this line to show hand cursor */
}

.card :hover {
  transform: scale(1.05);
}

.card-img-top {
  border: none !important;
  /* Ensures no border */
  width: 100%;
  /* Makes the image fill the card width */
  aspect-ratio: 1 / 1;
  /* Ensures a perfect square */
  object-fit: cover;
  /* Ensures image fills the square without stretching */
  border-radius: 0;
  /* Ensures no rounded corners */
}

.card-body {
  padding: 10px;
  text-align: center;
}


.card-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  /* Bold */
  font-size: 22px;
}

.price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  /* Medium */
  font-size: 20px;
  color: #A89D6E;
}
