<div class="form-container">
    <div class="profile-container">
        <img src="profile.jpg" alt="Avatar" class="avatar">
        <h2>Mai Van Anh</h2>
        <div class="summary">
            <div class="summary-item">
                <h3>Total order</h3>
                <span id="total-order">{{ totalOrder }}</span>
            </div>
            <div class="summary-item">
                <h3>Total purchase amount</h3>
                <span id="total-purchase">{{ totalPurchase }}</span>
            </div>
        </div>
    </div>

    <fieldset>
        <legend class="info">Customer Information</legend>
        <label>Email</label>
        <input type="email" [(ngModel)]="customer.email">

        <label>Number phone</label>
        <input type="text" [(ngModel)]="customer.phoneNumber">

        <label>Address</label>
        <input type="text" [(ngModel)]="customer.address">

        <div class="row">
            <div class="col">
                <label>Status</label>
                <select [(ngModel)]="customer.status">
                    <option>Member</option>
                    <option selected>Loyal customer</option>
                    <option>VIP</option>
                </select>
            </div>
            <div class="col">
                <label>Day of birth</label>
                <input type="date" [(ngModel)]="customer.dob">
            </div>
        </div>

        <label>Description</label>
        <textarea [(ngModel)]="customer.description"></textarea>
    </fieldset>

    <div class="action-buttons">
        <button class="btn" (click)="goBack()">Back</button>
        <button class="btn" (click)="clear()">Clear</button>
        <button class="btn" (click)="save()">Save</button>
    </div>
</div>
