@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.app-container {
  display: flex;
  flex-direction: column; /* Sắp xếp các phần tử con theo chiều dọc */
  height: 100vh; /* Chiều cao toàn bộ màn hình */
}


.content-container {
  display: flex; /* Sử dụng flex để chia phần cho sidebar và nội dung */
  flex: 1; /* Chiếm phần còn lại của màn hình dưới header */
}

.side-nav-bar {
  width: 250px; /* Sidebar có chiều rộng cố định */
  background-color: #DDD7C0;
  display: flex;
  flex-direction: column; /* Sắp xếp các mục theo chiều dọc */
  border-right: 0.5px solid #F4F2EB;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 600;
  height: 100%; /* Chiếm toàn bộ chiều cao của content-container */
  position: sticky; /* Đảm bảo sidebar luôn cố định khi cuộn */
  top: 0;
}

.nav-item {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
  cursor: pointer;
  border: 0.5px solid #F4F2EB;
  height: 60px; /* Đặt chiều cao cho mỗi mục */
}

.nav-item:hover {
  background-color: #C2B694;
  color: #F4F2EB;
}

.nav-item.active {
  background-color: #A6986B;
  color: #fff;
}

.icons {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}

.content {
  flex: 1; /* Nội dung chiếm phần còn lại */
  padding: 20px;
  background-color: #F4F2EB;
  overflow-y: auto; /* Chỉ scroll phần nội dung */
}

