<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="faqs-container container">
        <h1 class="text-center">How can Rebound help you?</h1>
      
        <div *ngFor="let category of getCategories()" class="faq-category">
          <h2 class="text-center">{{ category }}</h2>
      
          <div class="faqs-list">
            <div *ngFor="let faq of getFaqsByCategory(category)" class="faq-item card">
              <div class="faq-header card-header d-flex justify-content-between align-items-center" (click)="toggleFAQ(faq)">
                <span class="faq-question">{{ faq.question }}</span>
                <span class="faq-toggle-icon">
                  {{ faq.isExpanded ? '▲' : '▼' }}
                </span>
              </div>
      
              <div [ngClass]="{'collapse show': faq.isExpanded, 'collapse': !faq.isExpanded}" class="faq-answer card-body">
                <p>{{ faq.answer }}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </body> 