.form-container {
    background-color: #F4F2EB;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    color: #595031;
}
p {
    margin-bottom: 30px;
}
.form-container h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}
.form-container h2 {
    font-size: 20px;
    padding-bottom: 10px;
}
fieldset {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #D1CBB8;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}
input, textarea, select {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: 1px solid #D1CBB8;
    border-radius: 5px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #D1CBB8;
}
th {
    background-color: #8A7F52;
    color: white;
}
.btn-remove {
    background-color: #8A7F52;
    color: white;
    border: none;
    cursor: pointer;
}
.action-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 4dvh;
}
.btn {
    height: 42px;
    width: 137px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    background-color: #DDD7C0;
    color: #595031;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.btn:hover {
    background-color: #C5BFA7;
}
