<div class="form-container">
  <h1>Add Product</h1>
  <form (submit)="onSubmit($event)">
    <fieldset>
      <h2>Product Information</h2>

      <label>Product Name</label>
      <input type="text" placeholder="Enter product name">

      <label>Image</label>
      <!-- <input type="file" placeholder="Image URL"> -->
      <input type="file" id="productImage" accept="image/*" />

      <div class="row">
        <div class="col">
          <label>Product Category</label>
          <select>
            <option>Basic Jewelry</option>
            <option>High-quality Jewelry</option>
            <option>Premium Jewelry</option>
          </select>
        </div>
        <div class="col">
          <label>Status</label>
          <select>
            <option>Active</option>
            <option>Inactive</option>
          </select>
        </div>
      </div>

      <label>Description</label>
      <textarea rows="5" placeholder="Write description here..."></textarea>

      <div class="row">
        <div class="col">
          <label>Price</label>
          <input type="text" placeholder="Price" (input)="formatPrice($event)">
        </div>
        <div class="col">
          <label>Origin</label>
          <input type="text" placeholder="Origin">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label>Stock</label>
          <input type="number" placeholder="Stock">
        </div>
        <div class="col">
          <label>Customize</label>
          <input type="text" placeholder="Customize">
        </div>
      </div>
    </fieldset>

    <div class="action-buttons">
      <button type="button" class="btn" (click)="goBack()">Back</button>
      <button type="reset" class="btn">Clear</button>
      <button type="submit" class="btn">Save</button>
    </div>
  </form>
</div>