<div class="forgot-container">
    <div class="forgot-wrapper">
        <div class="ear-image-container"></div>
        <div class="forgot-form-container">
            <div class="logo-container"></div>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="forgot-form">
                <div class="form-group">
                    <label for="email">Enter your email <span class="required">*</span></label>
                    <input 
                        type="email" 
                        id="email" 
                        formControlName="email" 
                        placeholder="Enter your email"
                        (ngModelChange)="checkEmailValidity()">
                    <div *ngIf="!emailValid && forgotPasswordForm.get('email')?.touched" class="error-message">
                        Invalid email. Please enter the correct email.
                    </div>
                </div>
                <button 
                    type="submit" 
                    class="forgot-button" 
                    [disabled]="!forgotPasswordForm.valid || !emailValid"
                    routerLink="/reset-password">
                    Verify
                </button>
            </form>
        </div>
    </div>
</div>
