<div class="container mt-5">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th class="text-center" style="width: 10%;">&nbsp;</th>
                    <th class="text-center">Product</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cartItems">
                    <td class="text-center">
                        <img [src]="item.product.Product_Image" alt="{{ item.product.Product_Name }}" class="img-fluid">
                    </td>
                    <td>{{ item.product.Product_Name }}</td>
                    <td class="text-center">{{ convertPrice(item.product.Product_Price) }}</td>
                    <td class="text-center">
                        <button class="bg-white btn-light" (click)="updateQuantity(item, -1)">-</button>
                        {{ quantities[item.product.Product_ID] }}
                        <button class="bg-white btn-light" (click)="updateQuantity(item, 1)">+</button>
                    </td>
                    <td class="text-center">{{ calculateSubtotal(item) }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-between">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="couponCode" placeholder="Coupon code">
                <button class="btn" (click)="applyCoupon()">Apply Coupon</button>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <button class="btn w-100 me-2" (click)="updateCart()">Update Cart</button>
            <button class="btn w-100" (click)="proceedToCheckout()">Proceed to Checkout</button>
        </div>
    </div>
</div>